swagger: "2.0"
info:
  version: 1.1.0
  title: ADE Attribute Authority Microservice Mock
  contact:
    name: IO team
    url: https://forum.italia.it/c/progetto-io
  x-logo:
    url: https://io.italia.it/assets/img/io-logo-blue.svg
host: api.cd.italia.it
schemes:
  - https
paths:
  "/organizations":
    get:
      operationId: getOrganizations
      summary: Get organizations
      description: Get all organizations
      parameters:
        - $ref: "#/parameters/QueryOrganizationName"
        - $ref: "#/parameters/QueryOrganizationFiscalCode"
        - $ref: "#/parameters/PageNumber"
        - $ref: "#/parameters/PageSize"
      responses:
        "200":
          description: List of organizations.
          schema:
            $ref: "#/definitions/Organizations"
        "404":
          description: Not found.
        "500":
          description: Service unavailable.
          schema:
            $ref: "#/definitions/ProblemJson"
    post:
      operationId: upsertOrganization
      summary: Upsert organization.
      description: Update or insert an organization.
      parameters:
        - in: body
          name: body
          schema:
            $ref: "#/definitions/OrganizationWithReferents"
      responses:
        "200":
          description: Upserted organization.
        "404":
          description: Not found.
        "500":
          description: Service unavailable.
          schema:
            $ref: "#/definitions/ProblemJson"

  "/organization/{organizationFiscalCode}":
    get:
      operationId: getOrganization
      summary: Get organization
      description: Get an organization by fiscal code
      parameters:
        - $ref: "#/parameters/OrganizationFiscalCode"
      responses:
        "200":
          description: An organization with referents.
          schema:
            $ref: "#/definitions/OrganizationWithReferents"
        "404":
          description: Not found.
        "500":
          description: Service unavailable.
          schema:
            $ref: "#/definitions/ProblemJson"
    delete: 
      operationId: deleteOrganization
      summary: Delete organization.
      description: Delete an organization
      parameters: 
        - $ref: "#/parameters/OrganizationFiscalCode"
      responses:
        "200":
          description: Deleted.
        "404":
          description: Not found.
        "500":
          description: Service unavailable.
          schema:
            $ref: "#/definitions/ProblemJson"

  "/companies":
    post:
      operationId: getUserCompanies
      summary: |
        Get User Companies
      description: |
        Get Companies related to a specific user
      parameters:
        - in: body
          name: body
          schema:
            $ref: "#/definitions/GetCompaniesBody"
      responses:
        "200":
          description: User Found.
          schema:
            $ref: "#/definitions/Companies"
        "404":
          description: Not found.
        "500":
          description: Service unavailable.
          schema:
            $ref: "#/definitions/ProblemJson"

  "/ping":
    get:
      operationId: ping
      summary: |
        Ping
      description: |
        ping ade service
      responses:
        "200":
            description: OK.
        "500":
          description: Service unavailable.
          schema:
            $ref: "#/definitions/ProblemJson"

consumes:
  - application/json
produces:
  - application/json

parameters:
  OrganizationFiscalCode:
    in: path
    name: organizationFiscalCode  
    description: Organization fiscal code
    required: true
    type:
      - $ref: "#/definitions/OrganizationFiscalCode"
  ReferentFiscalCode:
    in: body
    name: body
    required: true
    schema:
      - $ref: "#/definitions/ReferentFiscalCode"
  QueryOrganizationName:
    in: query
    name: organizationName
    description: String to search by organization name
    required: false
    type:
      - $ref: "#/definitions/OrganizationName"
  QueryOrganizationFiscalCode:
    in: query
    name: organizationFiscalCode
    description: String to search by organization fiscal code
    required: false
    type: 
      - $ref: "#/definitions/OrganizationFiscalCode"
  PageSize:
    name: pageSize
    in: query
    description: Page size
    required: false
    type: integer
    default: 20
  PageNumber:
    name: page
    in: query
    description: Page number
    required: false
    type: integer
    default: 0

definitions:
  FiscalCode:
    $ref: "https://raw.githubusercontent.com/pagopa/io-functions-commons/v22.7.0/openapi/definitions.yaml#/FiscalCode"
  ProblemJson:
    $ref: "https://raw.githubusercontent.com/pagopa/io-functions-commons/v22.7.0/openapi/definitions.yaml#/ProblemJson"
  EmailAddress:
    $ref: "https://raw.githubusercontent.com/pagopa/io-functions-commons/v22.7.0/openapi/definitions.yaml#/EmailAddress"

  OrganizationFiscalCode:
    type: object
    properties:   
      organizationFiscalCode: 
        type: string
        minLength: 8
        maxLength: 16
    required:
      - organizationFiscalCode

  OrganizationName:
    type: object
    properties:   
      organizationName: 
        type: string
        minLength: 1
        maxLength: 100
    required:
      - organizationName

  ReferentFiscalCode:
    type: object
    properties:
      referentFiscalCode:
        $ref: "#/definitions/FiscalCode"   
    required:
      - referentFiscalCode

  Organization:
    allOf: 
      - $ref: "#/definitions/OrganizationFiscalCode"
      - $ref: "#/definitions/OrganizationName"
      - type: object
        properties:   
          pec:
            $ref: "#/definitions/EmailAddress"
        required:
          - pec

  Organizations:
    type: array
    items:
      $ref: "#/definitions/Organization"

  Referents:
    type: array
    items:
      $ref: "#/definitions/ReferentFiscalCode"

  OrganizationWithReferents:
    allOf:
      - $ref: "#/definitions/Organization"
      - $ref: "#/definitions/Referents"

  ###################################################################
  # Old models to leave hub SPID login /companies binding unaltered #
  ###################################################################
  
  GetCompaniesBody:
    type: object
    properties:
      fiscalCode:
        $ref: "#/definitions/FiscalCode"
    required:
      - fiscalCode

  Company: 
    type: object
    properties:   
      fiscalCode: 
        type: string
        minLength: 8
        maxLength: 16
      organizationName:
        type: string
        minLength: 1
        maxLength: 100
      pec:
        $ref: "#/definitions/EmailAddress"
    required:
      - fiscalCode
      - organizationName
      - pec

  Companies:
    type: array
    items:
      $ref: "#/definitions/Company"

  UserCompanies:
    type: object
    properties:
      fiscalCode:
        $ref: "#/definitions/FiscalCode"
      companies:
        $ref: "#/definitions/Companies"
    required:
      - fiscalCode
      - companies

